<mat-card>
    <h1>Dinosaur 1</h1>
    <div>
        <p>Herrerasaurus</p>
        <p>A large predator</p>
        <p>Herrerasaurus family</p>
    </div>

    <h1>Dinosaur 2</h1>
    <div>
        <p>Herrerasaurus</p>
        <p>A large predator</p>
        <p>Herrerasaurus family</p>
    </div>

    <h1>Dinosaur 3</h1>
    <div>
        <p>Herrerasaurus</p>
        <p>A large predator</p>
        <p>Herrerasaurus family</p>
    </div>
    <button (click)="add()">{{sum}} Likes</button>
</mat-card>